name: Integration tests

on:
  push:
    paths:
      - 'snap/**'
      - 'bin/**'
      - 'checkbox/bin/**'
      - 'checkbox/checkbox-provider-npu/**'
      - 'checkbox/snap/**'
      - '.github/workflows/integration-tests.yaml'
      - '.github/testflinger/**'
    branches:
      - "main"
      - "feature/test-observer" # temporary branch for testing
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SNAP_ARTIFACT_NAME: checkbox-npu-snap
  SNAP_FILE: checkbox-npu.snap

jobs:
  build-checkbox-provider:
    name: Checkbox provider build
    runs-on: ubuntu-latest
    if: false  # Temporarily disabled for testing
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Find and parse snapcraft.yaml
        id: snapcraft-yaml
        uses: snapcrafters/ci/parse-snapcraft-yaml@main
        with:
          snapcraft-project-root: checkbox
      - name: Build snap
        uses: snapcore/action-build@v1
        id: build
        with:
          path: ${{ steps.snapcraft-yaml.outputs.project-root }}
          snapcraft-args: "-o ${{ env.SNAP_FILE }}"
      - name: Upload snap artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.SNAP_ARTIFACT_NAME }}
          path: ${{ steps.build.outputs.snap }}
  testflinger-validation:
    name: Testflinger Validation
    #needs: build-checkbox-provider # Temporarily disabled for testing
    runs-on: [self-hosted, self-hosted-linux-amd64-jammy-private-endpoint-medium]
    strategy:
      matrix:
        device:
          # Dell XPS 13 9340 Laptop, Meteor Lake, 24.04
          #- { queue: dell-xps-13-9340-c34207, gen: "MTL", image: https://tel-image-cache.canonical.com/oem-share/somerville/releases/noble/oem-24.04a/20240729-53/somerville-noble-oem-24.04a-20240729-53.iso }
          # Dell Pro Max Tower T2 Desktop, Arrow Lake, 24.04
          #- { queue: dell-pro-max-tower-f0t2250-0ce1-c36197, gen: "ARL", image: https://tel-image-cache.canonical.com/oem-share/somerville/releases/noble/oem-24.04b-proposed/20241220-148/somerville-noble-oem-24.04b-proposed-20241220-148.iso }
          # Dell XPS 13 9350 Laptop, Lunar Lake, 24.04
          - { queue: dell-xps-13-9350-c36962, gen: "LNL", image: https://tel-image-cache.canonical.com/oem-share/somerville/releases/noble/oem-24.04c/20250801-32/somerville-noble-oem-24.04c-20250801-32.iso }
      fail-fast: false
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - uses: actions/download-artifact@v5
        with:
          name: ${{ env.SNAP_ARTIFACT_NAME }}
      - name: Build job file from template with oemscript provisioning
        run: |
          sed -e "s|REPLACE_QUEUE|${{ matrix.device.queue }}|" \
          -e "s|REPLACE_IMAGE_URL|${{ matrix.device.image }}|" \
          -e "s|REPLACE_ATTACHMENT|${{ env.SNAP_FILE }}|" \
          ${GITHUB_WORKSPACE}/.github/testflinger/job-def.yaml > \
          ${GITHUB_WORKSPACE}/job.yaml
      - name: Submit testflinger job
        id: submit
        if: false  # Temporarily disabled for testing
        continue-on-error: true
        uses: canonical/testflinger/.github/actions/submit@main
        with:
          poll: true
          job-path: ${{ github.workspace }}/job.yaml
      - name: Download checkbox artifacts
        id: artifacts
        run: |
          # Download the job artifacts
          #testflinger artifacts ${{ steps.submit.outputs.id }}
          testflinger artifacts 1df9f2a3-5e7a-44eb-81e9-16943d6ae8ab # Temporary hardcoded job ID for testing

          # Extract artifact.tgz
          tar -xzf artifacts.tgz

          # Extract submission.json from each tarball
          queue="${{ matrix.device.queue }}"
          mkdir -p "extracted-artifacts/$queue"
          i=0
          for file in artifacts/*.tar.xz; do
            if [ -f "$file" ]; then
              echo "Extracting submission.json from: $file"
              run_dir="extracted-artifacts/$queue/run-$i"
              mkdir -p "$run_dir"

              # Extract only submission.json
              tar -xJf "$file" submission.json -O > "$run_dir/submission.json"

              # Build environment key, for example: env0=MTL-24.04.3-6.17-generic
              kernel_ver=$(jq -r '[.system_information | .. | objects | to_entries[] | select(.key | endswith("#Kernel")) | .value] | first' "$run_dir/submission.json")
              os_ver=$(jq -r '[.system_information | .. | objects | to_entries[] | select(.key | endswith("#Distro")) | .value] | first | match("Ubuntu ([0-9.]+)") | .captures[0].string' "$run_dir/submission.json")
              echo "env$i=${{ matrix.device.gen }}-${os_ver}-${kernel_ver}" >> $GITHUB_OUTPUT

              # Save tarball path to output
              echo "tarball$i=$file" >> $GITHUB_OUTPUT

              i=$((i + 1))
            fi
          done
      - name: Upload checkbox artifacts
        uses: actions/upload-artifact@v4
        with:
          name: checkbox-results-${{ matrix.device.queue }}
          path: extracted-artifacts/
      - name: Generate TO start-payload
        run: |
          revision=$(snap info intel-npu-driver | grep latest/edge | cut -d "(" -f2 | cut -d ")" -f1)
          version=$(snap info intel-npu-driver | grep latest/edge | awk '{print $2}')
          cat <<EOF > start-payload.json
          {
            "name": "intel-npu-driver",
            "version": "${version}",
            "arch": "amd64",
            "test_plan": "intel-npu",
            "environment": "${{ steps.artifacts.outputs.env0 }}",
            "initial_status": "IN_PROGRESS",
            "needs_assignment": False,
            "family": "snap",
            "revision": "${revision}",
            "track": "latest",
            "store": "ubuntu",
            "branch": "",
            "execution_stage": "edge"
          }
          EOF
      - name: Checkout private action repo
        uses: actions/checkout@v5
        with:
          repository: canonical/oemqa-testing-ci
          token: ${{ secrets.GITHUB_TOKEN }}
          path: .github/actions/oemqa-testing-ci
      - name: Upload first test results to test observer
        if: steps.artifacts.outputs.tarball0 != ''
        uses: ./.github/actions/oemqa-testing-ci/.github/actions/test-observer-uploader
        with:
          start_test_api_payload: start_payload.json
          ci_link: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          c3_link: none
          submission: ${{ steps.artifacts.outputs.tarball0 }}
          test_observer_url: "test-observer-staging.canonical.com"
  tag:
    name: Push tag for revision
    needs: testflinger-validation
    runs-on: ubuntu-latest
    if: false  # Temporarily disabled for testing
    steps:
      - name: Checkout the source
        uses: actions/checkout@v5
      - name: Create and push tag for revision
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          revision=$(snap info intel-npu-driver | grep latest/edge | cut -d "(" -f2 | cut -d ")" -f1)
          version=$(snap info intel-npu-driver | grep latest/edge | awk '{print $2}')
          tag_name="${version}-rev${revision}"
          if git ls-remote --tags origin | grep -q "refs/tags/${tag_name}"; then
            echo "Tag ${tag_name} already exists in remote repo. Doing nothing."
          else
            git tag -a "${tag_name}" -m "Revision ${revision}"
            git push origin "${tag_name}"
          fi
